.boton-idioma, .boton-iconos{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    cursor: pointer;  
}

.icono-nav, .icono-lang{
    width: 40px;
    margin-left: 1vw;
}

.icono-contact{
    width: 50px;
    animation: trans 1s 1;
    margin: 1vh;
}

.icono-contact:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
}
.icono-nav:hover, .icono-lang:hover{
    filter: drop-shadow(0 0 0.75rem white);
}


@media (max-width:975px) {
    .icono-nav, .icono-lang{     
        margin-left: 5px;
        margin-right: 5px;
    }
}